* {
  box-sizing: border-box;
}

@font-face {
  font-family: Piedra;
  src: url(./Piedra-Regular.ttf);
}

.wrapper {
  position: relative;
  display: grid;
  gap: 1rem;
  background-image: url("./img/background.png");
  background-color: #eb8d00;
  grid-template-areas:
    "nav"
    "main"
    "footer"
}

main {
  position: relative;
  grid-area: main;
  display: grid;
  gap: 15px;
    grid-template-columns: 100%;
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: 
      "home";
  background-image: url("./img/focos.png");
  background-repeat: no-repeat;
  background-position:0% -0.1%;
  align-content: center;
  justify-content: center;
  justify-items: center;
  padding-top: 150px;
}

nav {
  position: relative;
  grid-area: nav;
  display: flex;
  justify-self: center;
  justify-content: center;
  width: 65%;
  background-color: #333;
}

.logo {
  position: absolute;
  display: flex;
  z-index: 999;
  transform: rotate(-8deg);
  margin-left: -150px;
  top: -40px;
  left: 0;
}

nav, nav a {
  border-radius: 5px;
  padding: 10px;
}

.nav-element {
  float: left;
  color: #f2f2f2;
  margin: 0 60px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Piedra;
  font-size: 17px;
}

#logo-link {
  margin: 0;
}

.nav-element:hover {
  background-color: #ddd;
  color: black;
}

.nav-element .active {
  background-color: #eb8d00;
  color: #fff;
}

footer {
  position: relative;
  display: inline;
  grid-area: footer;
  background-color: #333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 50px;
  color: #fff;
  text-align: center;
  letter-spacing: 4px;
  font-family: Piedra;
}

/* media queries */

@media only screen and (max-width: 500px) {
  .wrapper {
    grid-template-columns: 20% auto;
    grid-template-areas:
      "nav nav"
      "main main"
      "footer footer";
  }
}

@media only screen and (min-width: 600px) {
  .wrapper {
    gap: 20px;
    grid-template-columns: 120px auto 120px;
    grid-template-areas: 
      "nav nav nav"
      "main main main"
      "footer footer footer";
  }
}


/* main section  */

/* home  */

#home {
  position: relative;
  grid-area: home;
  display: grid;
  width: 986px;
  height: 778px;
  overflow: visible;
}

.item {
  position: relative;
  display: flex;  
  background-image: url("./img/bienve.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

  /* concepto */

  #concepto {
    position: relative;
    grid-area: concepto;
    display: grid;
    width: 986px;
    height: 778px;
    overflow: visible;
    background-color: yellowgreen;
  }
  
  .item-2 {
    position: relative;
    display: flex;  
    background-image: url("./img/concepto.gif");
    background-repeat: no-repeat;
    background-size: cover;
  }

    /* estelares */

    #estelares {
      position: relative;
      grid-area: estelares;
      display: grid;
      width: 80%;
      gap: 1rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 
        "item-1 item-2"
        "item-3 item-4";
      background-color: coral;
    }

    /* carta */

    #carta {
      position: relative;
      grid-area: carta;
      display: grid;
      width: 80%;
      gap: 1rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 
        "item-1 item-2"
        "item-3 item-4";
      background-color: teal;
    }

    /* domicilio */

    #domicilio {
      position: relative;
      grid-area: domicilio;
      display: grid;
      width: 80%;
      gap: 1rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 
        "item-1 item-2"
        "item-3 item-4";
      background-color: darkgoldenrod;
    }

    /* contacto */

    #contacto {
      position: relative;
      grid-area: contacto;
      display: grid;
      width: 80%;
      gap: 1rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 
        "item-1 item-2"
        "item-3 item-4";
        background-color: red;
    }