* {
  box-sizing: border-box;
}

@font-face {
  font-family: Piedra;
  src: url(./Piedra-Regular.ttf);
}

.wrapper {
  position: relative;
  display: grid;
  gap: 1rem;
  background-image: url("./img/background.png");
  background-color: #eb8d00;
  grid-template-areas:
    "nav"
    "main"
    "footer"
}

main {
  position: relative;
  grid-area: main;
  background-image: url("./img/focos.png");
  background-repeat: no-repeat;
  background-position:0% -5%;
  align-content: center;
  justify-content: center;
  padding-top: 120px;
}

nav {
  position: relative;
  grid-area: nav;
  display: flex;
  justify-self: center;
  justify-content: center;
  width: 80%;
  background-color: #333;
}

.logo {
  position: absolute;
  display: flex;
  z-index: 999;
  transform: rotate(-8deg);
  margin-left: -150px;
  top: -40px;
  left: 0;
}

nav, nav a {
  border-radius: 5px;
  padding: 10px;
}

nav a {
  float: left;
  color: #f2f2f2;
  margin: 0 60px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Piedra;
  font-size: 17px;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

nav a.active {
  background-color: #eb8d00;
  color: #fff;
}

footer {
  position: relative;
  display: inline;
  grid-area: footer;
  background-color: #333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 50px;
  color: #fff;
  text-align: center;
  letter-spacing: 4px;
}

/* media queries */

@media only screen and (max-width: 500px) {
  .wrapper {
    grid-template-columns: 20% auto;
    grid-template-areas:
      "nav nav"
      "main main"
      "footer footer";
  }
}

@media only screen and (min-width: 600px) {
  .wrapper {
    gap: 20px;
    grid-template-columns: 120px auto 120px;
    grid-template-areas: 
      "nav nav nav"
      "main main main"
      "footer footer footer";
  }
}


/* main section  */

.home {
  position: relative;
  display: grid;
  width: 80%;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
    "item-1 item-2"
    "item-3 item-4";
  background-color: black;
}

.item {
  position: relative;
  display: flex;
  height: 400px;
}

.i-1 {
  background-color: #eee;
}

.i-2 {
  background-color: #4ae;
}

.i-3 {
  background-color: #6a5;
}

.i-4 {
  background-color: #e1e;
}